# MySQL Exercise 8: Joining Tables with Outer Joins

# Left and Right Joins

### Question 1: How would you re-write this query using the traditional join syntax?

In [2]:
%load_ext sql

In [3]:
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb

'Connected: studentuser@dognitiondb'

In [4]:
%sql USE dognitiondb

0 rows affected.

[]

### Question 1: How would you re-write this query using the traditional join syntax?

In [6]:
%%sql
SELECT d.user_guid AS UserID, d.dog_guid AS DogID, d.breed, d.breed_type,
d.breed_group
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE test_name='Yawn Warm-up' LIMIT 10;

10 rows affected.

[('ce134e42-7144-11e5-ba71-058fbc01cf0b', 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Labrador Retriever', 'Pure Breed', 'Sporting'),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Shetland Sheepdog', 'Pure Breed', 'Herding'),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Golden Retriever', 'Pure Breed', 'Sporting'),
 ('ce13507c-7144-11e5-ba71-058fbc01cf0b', 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'Golden Retriever', 'Pure Breed', 'Sporting'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu', 'Pure Breed', 'Toy'),
 ('ce13615c-7144-11e5-ba71-058fbc01cf0b', 'fd27b948-7144-11e5-ba71-058fbc01cf0b', 'Siberian Husky', 'Pure Breed', 'Working'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu', 'Pure Breed', 'Toy'),
 ('ce135f2c-7144-11e5-ba71-058fbc01cf0b', 'fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 'Mixed', "Mixed Breed/ Other/ I Don't Know", None),
 ('ce136a1c-7144-11e5-ba71-058fbc01cf0b', 'fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'Labrador Retriever', 'Pure Breed', 'Sporting'),
 ('ce136ac6-7144-11e5-ba71-058fbc01cf0b', 'fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu-Poodle Mix', 'Cross Breed', None)]

### Question 2: How could you retrieve this same information using a RIGHT JOIN?

In [7]:
%%sql
SELECT r.dog_guid AS rDogID, d.dog_guid AS dDogID, r.user_guid AS rUserID,
d.user_guid AS dUserID, AVG(r.rating) AS AvgRating, COUNT(r.rating) AS
NumRatings, d.breed, d.breed_group, d.breed_type
FROM dogs d RIGHT JOIN reviews r
ON d.dog_guid=r.dog_guid AND d.user_guid=r.user_guid
WHERE r.dog_guid IS NOT NULL
GROUP BY r.dog_guid
HAVING NumRatings >= 10
ORDER BY AvgRating DESC LIMIT 5;

5 rows affected.

[('fdbf39f8-7144-11e5-ba71-058fbc01cf0b', 'fdbf39f8-7144-11e5-ba71-058fbc01cf0b', 'ce987914-7144-11e5-ba71-058fbc01cf0b', 'ce987914-7144-11e5-ba71-058fbc01cf0b', Decimal('8.0000'), 12, 'Canaan Dog', 'Herding', 'Pure Breed'),
 ('ce47553e-7144-11e5-ba71-058fbc01cf0b', None, 'ce6ca9ba-7144-11e5-ba71-058fbc01cf0b', None, Decimal('7.8750'), 16, None, None, None),
 ('ce6f07e6-7144-11e5-ba71-058fbc01cf0b', None, 'ce7091e2-7144-11e5-ba71-058fbc01cf0b', None, Decimal('7.5000'), 10, None, None, None),
 ('ce45ae5a-7144-11e5-ba71-058fbc01cf0b', None, 'ce67562c-7144-11e5-ba71-058fbc01cf0b', None, Decimal('7.3529'), 17, None, None, None),
 ('ce2a68ac-7144-11e5-ba71-058fbc01cf0b', None, 'ce2a45c0-7144-11e5-ba71-058fbc01cf0b', None, Decimal('7.1333'), 15, None, None, None)]

### Question 3: How would you use a left join to retrieve a list of all the unique dogs in the dogs table, and retrieve a count of how many tests each one completed? Include the dog_guids and user_guids from the dogs and complete_tests tables in your output. (If you do not limit your query, your output should contain 35050 rows. HINT: use the dog_guid from the dogs table to group your results.)

In [9]:
%%sql
SELECT d.user_guid AS dUserID, c.user_guid AS cUserID, d.dog_guid AS dDogID,
c.dog_guid AS dDogID, count(test_name)
FROM dogs d LEFT JOIN complete_tests c
ON d.dog_guid=c.dog_guid
GROUP BY d.dog_guid LIMIT 5;

5 rows affected.

[('ce134e42-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 21),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 20),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 2),
 ('ce13507c-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 11),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'fd27b86c-7144-11e5-ba71-058fbc01cf0b', 31)]

### Question 4: Repeat the query you ran in Question 3, but intentionally use the dog_guids from the completed_tests table to group your results instead of the dog_guids from the dogs table. (Your output should contain 17987 rows)

In [10]:
%%sql
SELECT d.user_guid AS dUserID, c.user_guid AS cUserID, d.dog_guid AS dDogID,
c.dog_guid AS dDogID, count(test_name)
FROM dogs d LEFT JOIN complete_tests c
ON d.dog_guid=c.dog_guid
GROUP BY c.dog_guid LIMIT 5;

5 rows affected.

[('ce1362ba-7144-11e5-ba71-058fbc01cf0b', None, 'fd27baec-7144-11e5-ba71-058fbc01cf0b', None, 0),
 ('ce134e42-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 21),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 20),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 2),
 ('ce13507c-7144-11e5-ba71-058fbc01cf0b', None, 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 11)]

### Question 5: Write a query using COUNT DISTINCT to determine how many distinct dog_guids there are in the completed_tests table.

In [11]:
%%sql
SELECT COUNT(DISTINCT dog_guid)
FROM complete_tests;

1 rows affected.

[(17986,)]

### Question 6: We want to extract all of the breed information of every dog a user_guid in the users table owns. If a user_guid in the users table does not own a dog, we want that information as well. Write a query that would return this information. Include the dog_guid from the dogs table, and user_guid from both the users and dogs tables in your output. (HINT: you should get 952557 rows in your output!)

In [13]:
%%sql
SELECT u.user_guid AS uUserID, d.user_guid AS dUserID, d.dog_guid AS dDogID,
d.breed
FROM users u LEFT JOIN dogs d
ON u.user_guid=d.user_guid LIMIT 5;

5 rows affected.

[('ce134e42-7144-11e5-ba71-058fbc01cf0b', 'ce134e42-7144-11e5-ba71-058fbc01cf0b', 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Labrador Retriever'),
 ('ce134e42-7144-11e5-ba71-058fbc01cf0b', 'ce134e42-7144-11e5-ba71-058fbc01cf0b', 'fd417cac-7144-11e5-ba71-058fbc01cf0b', 'Mixed'),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Shetland Sheepdog'),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'fd3fb0f2-7144-11e5-ba71-058fbc01cf0b', 'Shetland Sheepdog'),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', 'ce135ab8-7144-11e5-ba71-058fbc01cf0b', 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Golden Retriever')]

### Question 7: Adapt the query you wrote above so that it counts the number of rows the join will output per user_id. Sort the results by this count in descending order. Remember that if you include dog_guid or breed fields in this query, they will be randomly populated by only one of the values associated with a user_guid (see MySQL Exercise 6; there should be 33,193 rows in your output).

In [14]:
%%sql
SELECT u.user_guid AS uUserID, d.user_guid AS dUserID, d.dog_guid AS dDogID,
d.breed, count(*) AS numrows
FROM users u LEFT JOIN dogs d
ON u.user_guid=d.user_guid
GROUP BY u.user_guid
ORDER BY numrows DESC LIMIT 5;

5 rows affected.

[('ce7b75bc-7144-11e5-ba71-058fbc01cf0b', 'ce7b75bc-7144-11e5-ba71-058fbc01cf0b', 'fd7bfb52-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu', 913138),
 ('ce225842-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', 'fd423714-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu', 442),
 ('ce2258a6-7144-11e5-ba71-058fbc01cf0b', 'ce2258a6-7144-11e5-ba71-058fbc01cf0b', 'fd40bd62-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu', 320),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'ce135e14-7144-11e5-ba71-058fbc01cf0b', 'fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Shih Tzu', 130),
 ('ce29675e-7144-11e5-ba71-058fbc01cf0b', 'ce29675e-7144-11e5-ba71-058fbc01cf0b', 'fd46b014-7144-11e5-ba71-058fbc01cf0b', 'Labrador Retriever- Mix', 110)]

### Question 8: How many rows in the users table are associated with user_guid 'ce225842-7144-11e5-ba71-058fbc01cf0b'?

In [15]:
%%sql
SELECT COUNT(user_guid)
FROM users
WHERE user_guid='ce225842-7144-11e5-ba71-058fbc01cf0b';

1 rows affected.

[(17,)]

### Question 9: Examine all the rows in the dogs table that are associated with user_guid 'ce225842-7144-11e5-ba71-058fbc01cf0b'?

In [16]:
%%sql
SELECT *
FROM dogs
WHERE user_guid='ce225842-7144-11e5-ba71-058fbc01cf0b';

26 rows affected.

[('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 3, 21, 19, 30, 6), datetime.datetime(2015, 5, 13, 18, 1, 39), 'maverick', 1, 'Pure Breed', 'Toy', 'fd423714-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '31', '26.794221451', '38583.678889', '0.0010474537277', '1.5083333679', '803.82664352', '1157510.3667'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 3, 30, 19, 41, 8), datetime.datetime(2015, 1, 6, 16, 26, 41), 'stargazer', 1, 'Pure Breed', 'Toy', 'fd42913c-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '27', '16.814351852', '24212.666667', '0.0045775463231', '6.5916667053', '437.17314815', '629529.33333'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 4, 8, 15, 44, 8), datetime.datetime(2015, 9, 21, 18, 5, 51), 'einstein', 1, 'Pure Breed', 'Toy', 'fd42ad20-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '20', '22.850757188', '32905.090351', '0.00042824063054', '0.61666650798', '434.16438657', '625196.71667'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 5, 3, 19, 56, 17), datetime.datetime(2013, 7, 25, 19, 42, 39), None, 1, 'Pure Breed', 'Toy', 'fd443064-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '4', '26.755327932', '38527.672222', '12.042581019', '17341.316667', '80.265983796', '115583.01667'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 5, 16, 16, 3, 54), datetime.datetime(2014, 10, 20, 18, 10, 48), None, 1, 'Pure Breed', 'Toy', 'fd44ec84-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '6', '16.63131713', '23949.096667', '0.015543981453', '22.383333293', '83.156585648', '119745.48333'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 5, 17, 16, 3, 57), datetime.datetime(2014, 11, 5, 16, 18, 29), 'stargazer', 1, 'Pure Breed', 'Toy', 'fd44f68e-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '20', '0.021543006823', '31.021929825', '0.0032175926011', '4.6333333455', '0.40931712964', '589.41666668'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 5, 23, 12, 29, 28), datetime.datetime(2014, 10, 6, 19, 29, 11), None, 1, 'Pure Breed', 'Toy', 'fd453a40-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '9', '69.875772569', '100621.1125', '0.0031770833291', '4.5749999939', '559.00618056', '804968.9'),
 ('female', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 7, 18, 19, 16, 30), datetime.datetime(2014, 5, 28, 14, 11, 10), None, 1, 'Pure Breed', 'Toy', 'fd484488-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '1', 'NaN', '#VALUE!', 'NaN', '#VALUE!', '0', '0'),
 ('male', '2013', 'Shih Tzu', 0, 1, 1, datetime.datetime(2013, 7, 30, 19, 39, 37), datetime.datetime(2013, 7, 30, 19, 39, 37), None, None, 'Pure Breed', 'Toy', 'fd492a7e-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '2', '0.0018981480973', '2.7333332601', '0.0018981480973', '2.7333332601', '0.0018981480973', '2.7333332601'),
 ('male', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 8, 5, 19, 50, 55), datetime.datetime(2014, 7, 20, 15, 6, 18), None, 1, 'Pure Breed', 'Toy', 'fd4a5656-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '10', '6.3504243827', '9144.6111111', '0.00526620378', '7.5833334432', '57.153819444', '82301.5'),
 ('female', '2013', 'Shih Tzu', 190, 1, 1, datetime.datetime(2013, 7, 18, 17, 44, 47), datetime.datetime(2013, 10, 31, 18, 32, 39), None, 1, 'Pure Breed', 'Toy', 'fd48423a-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2013', 'Shih Tzu', 190, 0, 0, datetime.datetime(2013, 9, 24, 18, 9, 10), datetime.datetime(2014, 5, 28, 14, 9, 36), None, 1, 'Pure Breed', 'Toy', 'fd544fda-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '1', 'NaN', '#VALUE!', 'NaN', '#VALUE!', '0', '0'),
 ('female', '2012', 'Spinone Italiano', 50, 0, 0, datetime.datetime(2013, 9, 29, 14, 56, 10), datetime.datetime(2014, 6, 13, 15, 13, 14), None, None, 'Pure Breed', 'Sporting', 'fd5479ec-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '1', 'NaN', '#VALUE!', 'NaN', '#VALUE!', '0', '0'),
 ('male', '2013', 'Shih Tzu', 190, 0, 0, datetime.datetime(2013, 10, 8, 21, 24, 19), datetime.datetime(2014, 5, 28, 14, 9, 5), None, 1, 'Pure Breed', 'Toy', 'fd593e50-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '1', 'NaN', '#VALUE!', 'NaN', '#VALUE!', '0', '0'),
 ('female', '2012', 'Shih Tzu', 190, 0, 0, datetime.datetime(2013, 12, 3, 18, 24, 30), datetime.datetime(2014, 5, 28, 14, 8, 56), None, 1, 'Pure Breed', 'Toy', 'fd64a36c-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2009', 'Shih Tzu', 190, 0, 0, datetime.datetime(2013, 12, 19, 19, 21, 14), datetime.datetime(2014, 5, 28, 14, 9, 49), None, 1, 'Pure Breed', 'Toy', 'fd65695a-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2010', 'Shih Tzu', 190, 0, 0, datetime.datetime(2014, 4, 29, 14, 12, 54), datetime.datetime(2014, 6, 13, 15, 13, 15), None, 1, 'Pure Breed', 'Toy', 'fd6815f6-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '1', 'NaN', '#VALUE!', 'NaN', '#VALUE!', '0', '0'),
 ('male', '2014', 'Shih Tzu', 190, 0, 0, datetime.datetime(2014, 5, 22, 21, 5, 33), datetime.datetime(2014, 7, 10, 13, 57, 17), None, 1, 'Pure Breed', 'Toy', 'fd687dca-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '5', '6.9520717593', '10010.983333', '6.4991608796', '9358.7916667', '27.808287037', '40043.933333'),
 ('male', '2013', 'Shih Tzu', 190, 0, None, datetime.datetime(2014, 6, 17, 20, 15, 38), datetime.datetime(2014, 6, 30, 22, 28, 42), 'stargazer', 1, 'Pure Breed', 'Toy', 'fd68d55e-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '20', '0.0022283138427', '3.2087719335', '0.00096064817923', '1.3833333781', '0.042337963011', '60.966666736'),
 ('male', '2014', 'Shih Tzu', 190, None, None, datetime.datetime(2014, 7, 2, 14, 4, 56), datetime.datetime(2014, 7, 2, 14, 4, 56), None, None, 'Pure Breed', 'Toy', 'fd691474-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', '3', '154.64907407', '222694.66667', '154.64907407', '222694.66667', '309.29814815', '445389.33333'),
 ('male', '2014', 'Shih Tzu', 190, 0, 0, datetime.datetime(2014, 5, 7, 18, 38, 59), datetime.datetime(2014, 5, 28, 14, 6, 17), None, 1, 'Pure Breed', 'Toy', 'fd682cc6-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2009', 'Shih Tzu', 190, 0, 0, datetime.datetime(2014, 5, 7, 20, 11, 13), datetime.datetime(2014, 5, 28, 14, 4, 53), None, 1, 'Pure Breed', 'Toy', 'fd683252-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2013', 'Shih Tzu', 190, 0, 0, datetime.datetime(2014, 5, 7, 20, 32, 33), datetime.datetime(2014, 5, 28, 14, 3, 55), None, 1, 'Pure Breed', 'Toy', 'fd68334c-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('female', '2011', 'Akita-Airedale Terrier Mix', 20, 0, None, datetime.datetime(2014, 10, 6, 2, 46, 31), datetime.datetime(2014, 10, 6, 2, 46, 31), None, None, 'Cross Breed', None, 'fd6c63b8-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2014', 'Australian Terrier', 150, 0, None, datetime.datetime(2015, 4, 13, 14, 40, 48), datetime.datetime(2015, 4, 13, 14, 40, 48), None, None, 'Pure Breed', 'Terrier', 'fd7bccf4-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None),
 ('male', '2014', 'Shih Tzu', 190, 0, None, datetime.datetime(2015, 4, 27, 15, 29, 36), datetime.datetime(2015, 4, 27, 15, 29, 36), None, None, 'Pure Breed', 'Toy', 'fd7c0746-7144-11e5-ba71-058fbc01cf0b', 'ce225842-7144-11e5-ba71-058fbc01cf0b', None, None, None, None, None, None, None)]

### Question 10: How would you write a query that used a left join to return the number of distinct user_guids that were in the users table, but not the dogs table (your query should return a value of 2226)?

In [18]:
%%sql
SELECT COUNT(DISTINCT u.user_guid)
FROM users u LEFT JOIN dogs d
ON u.user_guid=d.user_guid
WHERE d.user_guid IS NULL;

1 rows affected.

[(2226,)]

### Question 11: How would you write a query that used a right join to return the number of distinct user_guids that were in the users table, but not the dogs table (your query should return a value of 2226)?

In [19]:
%%sql
SELECT COUNT(DISTINCT u.user_guid)
FROM dogs d RIGHT JOIN users u
ON d.user_guid=u.user_guid
WHERE d.user_guid IS NULL;

1 rows affected.

[(2226,)]

### Question 12: Use a left join to create a list of all the unique dog_guids that are contained in the site_activities table, but not the dogs table, and how many times each one is entered. Note that there are a lot of NULL values in the dog_guid of the site_activities table, so you will want to exclude them from your list. (Hint: if you exclude null values, the results you get will have two rows with words in their site_activities dog_guid fields instead of real guids, due to mistaken entries)

In [20]:
%%sql
SELECT s.dog_guid AS SA_dogs_not_present_in_dogs_table, COUNT(*) AS
NumEntries
FROM site_activities s LEFT JOIN dogs d
ON s.dog_guid=d.dog_guid
WHERE d.dog_guid IS NULL AND s.dog_guid IS NOT NULL
GROUP BY SA_dogs_not_present_in_dogs_table;

2 rows affected.

[('Membership', 5587), ('PortalContent', 12)]